@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-light p-5 rounded border">
    <h1>EasyUI Web Application</h1>
    <p class="lead">
        EasyUI for jQuery provides easy to use components for web developers, which is built on the popular jQuery core and HTML5.
        These make your applications suitable for today's web.
    </p>
    <a class="btn btn-lg btn-primary" href="https://www.jeasyui.com/documentation/index.php" role="button" target="_blank">View docs »</a>
</div>